body{
  background-image: url('/img/01.jpg');
  background-size: 100%;
  min-height: 100%;
}

.opaque{
  background: #eeeeee;
  background-color:rgba(256, 256, 256, 0.7);
}

.pad{
  padding: 30px;
  margin-top; 20px;
}

.btn{
  text-align: center;
}

.wide{
  width: 100%;
  margin-bottom: 25px;
}

.next{
  background-color:rgba(256, 0, 0, 0.7);
}

.add{
  background-color:rgba(0, 256, 0, 0.7);
}
  
.navbar{
  background-color:rgba(0, 0, 0, 0.8);
}