/**
 * whattoeat
 */
body{
background-image: url('http://1.bp.blogspot.com/-PC_5JXttmZM/UB7Cf7fK7-I/AAAAAAAAG8o/qiu9c7U8FZA/s1600/PennePasta+%25287%2529.jpg');
min-height: 100%;
}

.opaque{
background: #eeeeee;
background-color:rgba(256, 256, 256, 0.7);
}

.pad{
  padding: 30px;
  margin-top; 60px;
}

.btn{
text-align: center;
}

.wide{
  width: 100%;
  margin-bottom: 25px;
}

.next{
background-color:rgba(256, 0, 0, 0.7);
}

.add{
background-color:rgba(0, 256, 0, 0.7);
}
  
.navbar{
background-color:rgba(0, 0, 0, 0.8);
}



