<div class="row pad">
  <div class="col-xs-12 opaque">
    <h1 class="text-center">How about having some <span ng-bind="currentfood.name">...food</span>
      <small>
        <span ng-hide="currentfood.creator == undefined">
          (Added by <span ng-bind="currentfood.creator"></span>)
        </span>
      </small>
    </h1>
    <div class="panel panel-default" ng-show="!user && hideTip" class="reveal-animation">
      <div class="panel-body">
        <span>Showing you a random dish. Click next for another choise.</span>
      </div>
    </div>
    <div class="panel panel-default" ng-hide="user || hideTip" class="reveal-animation">
      <div class="panel-body">
        <span>Showing you choises from all users. By logging in, you can add your own and
        restrict to your dishes. However, feel free to keep clicking next.</span>
      </div>
    </div>
    <div class="panel panel-default" ng-show="user && count > 0" class="reveal-animation">
      <div class="panel-body">
        <input type="checkbox" ng-model="limit"/>
        <span ng-show="limit">Limiting to the foods you've added</span>
        <span ng-hide="limit">You can limit suggestions to the the ones you've added. <span ng-show="count > 0"> You've {{count}} foods to choose from. </span>
      </div>
    </div>
  </div>
</div>

<div class="row topmargin">
  <div class="col-sm-6 column">
    <div class="next btn wide" ng-click="next()">
      <form>
        <label>Don't like it?</label>
        <button type="submit" class="btn btn-success btn-lg btn-block">
           Next...
        </button>
      </form>
    </div>
  </div>
  <div class="col-sm-6 column"> 
    <div class="add btn wide">
      <form>
        <label>Sounds good</label>
        <a href="#food" type="submit" class="btn btn-success btn-lg btn-block">
          I'll have it
        </a>
      </form>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-xs-12">
      <div class="opaque pad wide">
      <form>
        <div id="food-group" class="form-group">
          <label ng-hide="user">Don't see your favorite? Add it here</label>
          <label ng-show="user">
            <span ng-bind="user.first_name"></span>, 
            your food will be credited to you
          </label>
          <input type="text" name="food" class="form-control" placeholder="Mac and Cheese">
      </div>
      <button type="submit" class="btn btn-success btn-lg btn-block" ng-click="login()" ng-hide="user">
        Login with Facebook first
      </button>
      <button type="submit" class="btn btn-success btn-lg btn-block" ng-click="add()" ng-show="user">
         Add
      </button>
      </form>
    </div>
  </div>
</div>

